{% extends "base.html" %}
{% block title %} Johns Blog {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to the birdie blog!
            </h1>
            <h2 class="subtitle">
                Please come and share your stories of woe and wonder !
            </h2>
        </div>
    </div>
</section>
{% endblock %}