{% extends "base.html" %}

{% block content %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<br />
<div class="columns is-mobile is-centered">
    <div class="column is-half">
        <form class="box" onsubmit="prepareDataForPost()" action="/posts/create" method="post">
            <input type="hidden" id="content" name="content" value="">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" placeholder="Post Title" name="title" id="title" required>
                </p>
            </div>
            <br />
            <div class="field">
                <p class="control">
                    <input class="input" type="text" placeholder="Post Description" name="description" id="description"
                        required>
                </p>
            </div>
            <br />
            <h3>Post Content</h3>
            <br />
            <!-- Create the editor container -->
            <div id="editor">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
            </div>
            </br>
            <button class="button is-block is-info is-large is-fullwidth">Create</button>
        </form>
    </div>
</div>


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    function prepareDataForPost() {
        let title = document.getElementById('title').value;
        let description = document.getElementById('description').value;
        document.getElementById('content').value = quill.root.innerHTML;
    }
</script>
{% endblock %}